[submodule "thirdparty/glfw/glfw"]
	path = thirdparty/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/glm/glm"]
	path = thirdparty/glm/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/tinyobjloader/tinyobjloader"]
	path = thirdparty/tinyobjloader/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
