[submodule "thirdparty/glfw/glfw"]
	path = thirdparty/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/glm/glm"]
	path = thirdparty/glm/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/tinyobjloader/tinyobjloader"]
	path = thirdparty/tinyobjloader/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "thirdparty/lodepng/lodepng"]
	path = thirdparty/lodepng/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "thirdparty/bullet3/bullet3"]
	path = thirdparty/bullet3/bullet3
	url = https://github.com/bulletphysics/bullet3
