[submodule "thirdparty/glfw/glfw"]
	path = thirdparty/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/glm/glm"]
	path = thirdparty/glm/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/tinyobjloader/tinyobjloader"]
	path = thirdparty/tinyobjloader/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "thirdparty/lodepng/lodepng"]
	path = thirdparty/lodepng/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "thirdparty/bullet3/bullet3"]
	path = thirdparty/bullet3/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "thirdparty/freetype2/freetype2"]
	path = thirdparty/freetype2/freetype2
	url = https://git.savannah.nongnu.org/r/freetype/freetype2.git
[submodule "thirdparty/cppMusic/cppMusic"]
	path = thirdparty/cppMusic/cppMusic
	url = https://github.com/Antollo/cppMusic
